@import "../../../mixins.scss";

.heroBanner {
  width: 100%;
  height: 480px;
  background-color: var(--black);
  display: flex;
  align-items: center;
  position: relative;

  @include md {
    height: 700px;
  }

  .backdropImage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    overflow: hidden;

    .lazy-load-image-background {
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: relative;
    }
  }
  .opacityLayer {
    width: 100%;
    height: 250px;
    background: linear-gradient(#04152d00 0%, #04152deb);
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .heroBannerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    .title {
      font-size: 50px;
      font-weight: 600;
      margin-bottom: 10px;

      @include md {
        margin: 0;
        font-size: 90px;
      }
    }
    .subTitle {
      font-style: 18px;
      font-weight: 500;
      margin-bottom: 40px;
      @include md {
        font-size: 24px;
      }
    }
    .searchInput {
      display: flex;
      align-items: center;
      width: 100%;
      input {
        // width: calc(100% - 100px);
        width: 100%;
        height: 50px;
        background-color: #fff;
        outline: none;
        border: none;
        border-radius: 30px 0 0 30px;
        padding: 0 15px;
        font-size: 14px;
        @include md {
          //   width: calc(100% - 150px);
          width: 100%;
          height: 60px;
          font-size: 20px;
          padding: 0 30px;
        }
      }
      button {
        width: 100px;
        height: 50px;
        font-weight: 800;
        color: rgb(238, 238, 238);
        background: linear-gradient(
          rgba(30, 213, 169) 1%,
          rgba(1, 180, 228) 100%
        );
        outline: none;
        border: none;
        border-radius: 0 30px 30px 0;
        padding: 0 15px;
        font-size: 16px;
        cursor: pointer;
        @include md {
          width: 150px;
          height: 60px;
          font-size: 18px;
        }
        &:hover {
          color: rgb(255, 255, 255);
        }
      }
    }
  }
}
